.temperature-container{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    background-color: #5E1F8E;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}


.temperature-badges{
    display: flex;
    gap: 12rem;
    justify-content: center;
}
.temperature-add {
    display: flex;
    gap: 2rem;
    padding: 0.5rem; 
    justify-content: center;  
}