.cal-container {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 300px; 
    height: 470px; 
    padding: 10px; 
    margin: 40px auto; 
    background-color: #686666;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.cal-container .display {
    width: 100%;
    padding: 10px; 
    font-size: 2rem; 
    text-align: right; 
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: #ffffff;
    margin-bottom: 15px; 
    border-radius: 10px;
}

.cal-container .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cal-container .calc-button {
    border-radius: 100px;
    width: 60px; 
    height: 60px; 
    margin: 5px; 
    cursor: pointer;
    border: none;
    padding: 0;
    font-size: 20px; 
    background-color: hsla(0, 3%, 66%, 0.986);
}

.cal-container .calc-button:hover {
    background-color: gray;
    transform: scale(1.1);
}

.cal-container .zero {
    width: 130px;
    text-align: left;
    padding-left: 15px;
}

.cal-container .divide, 
.cal-container .multiply, 
.cal-container .plus, 
.cal-container .minus, 
.cal-container .equal {
    background-color: orange;
    color: white;
}

.cal-container .divide:hover, 
.cal-container .multiply:hover, 
.cal-container .plus:hover, 
.cal-container .minus:hover, 
.cal-container .equal:hover {
    background-color: #fd7b02;
}

/* จัดเรียงปุ่ม */
.cal-container .button-row {
    text-align: right;
}

