.variable-container{
    border: 3px solid rgb(255, 255, 255);
    padding: 15px;
    width: 17rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    
}

.variable-title{
    color: rgb(255, 255, 255);

}

.variable-value{
    font-size: xx-large;
    margin: 0 0.8rem 0 0.8rem;
}
#minus,.plus{
    width: 40px;
}